"en": "Английский",
"ru": "Русский",
"zh": "Китайский",
"de": "Немецкий",
"es": "Испанский",
"ko": "Корейский",
"fr": "Французский",
"ja": "Японский",
"pt": "Португальский",
"tr": "Турецкий",
"pl": "Польский",
"ca": "Каталанский",
"nl": "Голландский",
"ar": "Арабский",
"sv": "Шведский",
"it": "Итальянский",
"id": "Индонезийский",
"hi": "Хинди",
"fi": "Финский",
"vi": "Вьетнамский",
"he": "Иврит",
"uk": "Украинский",
"el": "Греческий",
"ms": "Малазийский",
"cs": "Чешский",
"ro": "Румынский",
"da": "Датский",
"hu": "Венгерский",
"ta": "Тамильский",
"no": "Норвежский",
"th": "Тайский",
"ur": "Урду",
"hr": "Хорватский",
"bg": "Болгарский",
"lt": "Литовский",
"la": "Латинский",
"mi": "Маори",
"ml": "Малаялам",
"cy": "Валлийский",
"sk": "Словацкий",
"te": "Телугу",
"fa": "Персидский",
"lv": "Латвийский",
"bn": "Бенгальский",
"sr": "Сербский",
"az": "Азербайджанский",
"sl": "Словенский",
"kn": "Каннада",
"et": "Эстонский",
"mk": "Македонский",
"br": "Бретонский",
"eu": "Баскский",
"is": "Исландский",
"hy": "Армянский",
"ne": "Непальский",
"mn": "Монгольский",
"bs": "Боснийский",
"kk": "Казахский",
"sq": "Албанский",
"sw": "Суахили",
"gl": "galician",
"mr": "Маратхи",
"pa": "Панджаби",
"si": "Сингальский",
"km": "Кхмерский",
"sn": "Шона",
"yo": "Йоруба",
"so": "Сомалийский",
"af": "Африкаанс",
"oc": "Окситанский",
"ka": "Грузинский",
"be": "Белорусский",
"tg": "Таджикский",
"sd": "Синдхи",
"gu": "Гуджарати",
"am": "Амхарский",
"yi": "Идиш",
"lo": "Лаосский",
"uz": "Узбекский",
"fo": "Фарерский",
"ht": "Гаитянский креольский",
"ps": "Пушту",
"tk": "Туркменский",
"nn": "Нюнорск",
"mt": "Мальтийский",
"sa": "Санскрит",
"lb": "Люкскмбургский",
"my": "Мьянманский",
"bo": "Тибетский",
"tl": "Тагальский",
"mg": "Малагасийский",
"as": "Ассамский",
"tt": "Татарский",
"haw": "Гавайский",
"ln": "Лингала",
"ha": "Хауса",
"ba": "Башкирский",
"jw": "Яванский",
"su": "Сунданский",
"ky": "Киргизский"