body {
    background-color: #f9f6f6;
}

.button:active {
    transform: scale(0.95);
    background-color: #0056b3;
}

#translate-button:hover {
    background-color: #9B111E;
    color: #FDF5E6;
}

#load_button {
    color: #E0115F;
}

#li_ref:hover {
    transform: scale(1.05);
}

.VirtualizedSelectFocusedOption {
    background-color: #fce6eb;
    color: #8B7B6A;
}