body {
    background-color: #f9f6f6;
    margin: 0px;
}

.button:active {
    transform: scale(0.95);
    background-color: #0056b3;
}

#translate-button:hover {
    background-color: #00a86b;
    color: #FDF5E6;
}

#load_button {
    color: #00a86b;
}

.li_ref:hover {
    transform: scale(1.05);
}

.VirtualizedSelectFocusedOption {
    background-color: #9FE2BF;
    color: #FDF5E6;
}